Import libararies and mount google drive storage.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Load raw gnomAD and ELGH combined data.

In [ ]:
df_comb_el_gnomad = pd.read_csv("/content/drive/MyDrive/MSc-project-lof/df_comb_el_gnomad_before tranform for train.csv")

Load  CADD annotations for indels.

In [ ]:
df_cadd_indel = pd.read_csv("/content/drive/MyDrive/MSc-project-lof/gnomad.genomes.r2.1.1.indel_cadd.tsv",sep='\t')

In [ ]:
df_cadd_indel.head()

  #Chrom    Pos  ...  RawScore  PHRED
0      1  10067  ... -0.259293  0.483
1      1  10108  ... -0.066959  1.743
2      1  10109  ... -0.063097  1.787
3      1  10119  ... -0.104301  1.367
4      1  10128  ... -0.171410  0.870

[5 rows x 6 columns]

In [ ]:
df_cadd_indel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32847037 entries, 0 to 32847036
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   #Chrom    object
 1   Pos       int64
 2   Ref       object
 3   Alt       object
 4   RawScore  float64
 5   PHRED     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.5+ GB

In [ ]:
df_cadd_indel.drop("RawScore",axis=1,inplace=True)

In [ ]:
df_cadd_indel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32847037 entries, 0 to 32847036
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   #Chrom  object
 1   Pos     int64
 2   Ref     object
 3   Alt     object
 4   PHRED   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ GB

In [ ]:
df_cadd_indel.rename(columns={"#Chrom": "Chromosome",
                              "Pos": "Position",
                              "Ref": "Reference",
                              "Alt": "Alternate"},inplace=True)
df_cadd_indel

         Chromosome  ...  PHRED
0                 1  ...  0.483
1                 1  ...  1.743
2                 1  ...  1.787
3                 1  ...  1.367
4                 1  ...  0.870
...             ...  ...    ...
32847032          X  ...  1.663
32847033          X  ...  2.584
32847034          X  ...  2.633
32847035          X  ...  2.578
32847036          X  ...  2.662

[32847037 rows x 5 columns]

In [ ]:
df_cadd_indel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32847037 entries, 0 to 32847036
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   Chromosome  object
 1   Position    int64
 2   Reference   object
 3   Alternate   object
 4   PHRED       float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ GB

Perform join between variants data and CADD annotations for indels.

In [ ]:
df_comb_el_gnomad = pd.merge(df_comb_el_gnomad,df_cadd_indel,how='left',
                             left_on=['Chromosome','Position','Reference','Alternate'],
                             right_on=['Chromosome','Position','Reference','Alternate'])

CADD annotation was found only for 5 variants.

In [ ]:
df_comb_el_gnomad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 0 to 5039
Data columns (total 44 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Chromosome                                 5040 non-null   object
 1   Position                                   5040 non-null   float64
 2   Reference                                  5040 non-null   object
 3   Alternate                                  5040 non-null   object
 4   VEP Annotation                             5040 non-null   object
 5   ClinVar Clinical Significance              5040 non-null   object
 6   Allele Count                               5040 non-null   float64
 7   Allele Frequency                           5040 non-null   float64
 8   Homozygote Count                           5040 non-null   int64
 9   Hemizygote Count                           5040 non-null   int64
 10  Allele Count African/African-American      5040 non-null   int64
 11  Allele Number African/African-American     5040 non-null   int64
 12  Homozygote Count African/African-American  5040 non-null   int64
 13  Hemizygote Count African/African-American  5040 non-null   int64
 14  Allele Count Latino/Admixed American       5040 non-null   int64
 15  Allele Number Latino/Admixed American      5040 non-null   int64
 16  Homozygote Count Latino/Admixed American   5040 non-null   int64
 17  Hemizygote Count Latino/Admixed American   5040 non-null   int64
 18  Allele Count Ashkenazi Jewish              5040 non-null   int64
 19  Allele Number Ashkenazi Jewish             5040 non-null   int64
 20  Homozygote Count Ashkenazi Jewish          5040 non-null   int64
 21  Hemizygote Count Ashkenazi Jewish          5040 non-null   int64
 22  Allele Count East Asian                    5040 non-null   int64
 23  Allele Number East Asian                   5040 non-null   int64
 24  Homozygote Count East Asian                5040 non-null   int64
 25  Hemizygote Count East Asian                5040 non-null   int64
 26  Allele Count European (Finnish)            5040 non-null   int64
 27  Allele Number European (Finnish)           5040 non-null   int64
 28  Homozygote Count European (Finnish)        5040 non-null   int64
 29  Hemizygote Count European (Finnish)        5040 non-null   int64
 30  Allele Count European (non-Finnish)        5040 non-null   int64
 31  Allele Number European (non-Finnish)       5040 non-null   int64
 32  Homozygote Count European (non-Finnish)    5040 non-null   int64
 33  Hemizygote Count European (non-Finnish)    5040 non-null   int64
 34  Allele Count Other                         5040 non-null   int64
 35  Allele Number Other                        5040 non-null   int64
 36  Homozygote Count Other                     5040 non-null   int64
 37  Hemizygote Count Other                     5040 non-null   int64
 38  Allele Count South Asian                   5040 non-null   float64
 39  Allele Number South Asian                  5040 non-null   float64
 40  Homozygote Count South Asian               5040 non-null   int64
 41  Hemizygote Count South Asian               5040 non-null   int64
 42  oe_lof_upper                               5040 non-null   float64
 43  PHRED                                      5 non-null      float64
dtypes: float64(7), int64(32), object(5)
memory usage: 1.7+ MB

Load part-1 of CADD annotation for SNVs

In [ ]:
df_cadd_snv_part1 = pd.read_csv("/content/drive/MyDrive/MSc-project-lof/gnomad.genomes.r2.1.1.snv_cadd_part1.tsv",sep='\t')

In [ ]:
df_cadd_snv_part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114285105 entries, 0 to 114285104
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   #Chrom    int64
 1   Pos       int64
 2   Ref       object
 3   Alt       object
 4   RawScore  float64
 5   PHRED     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 5.1+ GB

In [ ]:
df_cadd_snv_part1.drop("RawScore",axis=1,inplace=True)

In [ ]:
df_cadd_snv_part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114285105 entries, 0 to 114285104
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   #Chrom  int64
 1   Pos     int64
 2   Ref     object
 3   Alt     object
 4   PHRED   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.3+ GB

In [ ]:
df_cadd_snv_part1.rename(columns={"#Chrom": "Chromosome",
                              "Pos": "Position",
                              "Ref": "Reference",
                              "Alt": "Alternate"},inplace=True)

In [ ]:
df_cadd_snv_part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114285105 entries, 0 to 114285104
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   Chromosome  int64
 1   Position    int64
 2   Reference   object
 3   Alternate   object
 4   PHRED       float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.3+ GB

In [ ]:
dict_astype = {"Chromosome":"object","Position":"float64",}

In [ ]:
df_cadd_snv_part1 = df_cadd_snv_part1.astype(dict_astype)

Perform join between variants data and CADD annotations for SNVs part1.

In [ ]:
df_comb_el_gnomad = pd.merge(df_comb_el_gnomad,df_cadd_snv_part1,how='left',
                             left_on=['Chromosome','Position','Reference','Alternate'],
                             right_on=['Chromosome','Position','Reference','Alternate'])

CADD annotation was not found for any variant on part 1 data as PHRED still has 5 non null values which were fetched using indels data.

In [ ]:
df_comb_el_gnomad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 0 to 5039
Data columns (total 45 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Chromosome                                 5040 non-null   object
 1   Position                                   5040 non-null   float64
 2   Reference                                  5040 non-null   object
 3   Alternate                                  5040 non-null   object
 4   VEP Annotation                             5040 non-null   object
 5   ClinVar Clinical Significance              5040 non-null   object
 6   Allele Count                               5040 non-null   float64
 7   Allele Frequency                           5040 non-null   float64
 8   Homozygote Count                           5040 non-null   int64
 9   Hemizygote Count                           5040 non-null   int64
 10  Allele Count African/African-American      5040 non-null   int64
 11  Allele Number African/African-American     5040 non-null   int64
 12  Homozygote Count African/African-American  5040 non-null   int64
 13  Hemizygote Count African/African-American  5040 non-null   int64
 14  Allele Count Latino/Admixed American       5040 non-null   int64
 15  Allele Number Latino/Admixed American      5040 non-null   int64
 16  Homozygote Count Latino/Admixed American   5040 non-null   int64
 17  Hemizygote Count Latino/Admixed American   5040 non-null   int64
 18  Allele Count Ashkenazi Jewish              5040 non-null   int64
 19  Allele Number Ashkenazi Jewish             5040 non-null   int64
 20  Homozygote Count Ashkenazi Jewish          5040 non-null   int64
 21  Hemizygote Count Ashkenazi Jewish          5040 non-null   int64
 22  Allele Count East Asian                    5040 non-null   int64
 23  Allele Number East Asian                   5040 non-null   int64
 24  Homozygote Count East Asian                5040 non-null   int64
 25  Hemizygote Count East Asian                5040 non-null   int64
 26  Allele Count European (Finnish)            5040 non-null   int64
 27  Allele Number European (Finnish)           5040 non-null   int64
 28  Homozygote Count European (Finnish)        5040 non-null   int64
 29  Hemizygote Count European (Finnish)        5040 non-null   int64
 30  Allele Count European (non-Finnish)        5040 non-null   int64
 31  Allele Number European (non-Finnish)       5040 non-null   int64
 32  Homozygote Count European (non-Finnish)    5040 non-null   int64
 33  Hemizygote Count European (non-Finnish)    5040 non-null   int64
 34  Allele Count Other                         5040 non-null   int64
 35  Allele Number Other                        5040 non-null   int64
 36  Homozygote Count Other                     5040 non-null   int64
 37  Hemizygote Count Other                     5040 non-null   int64
 38  Allele Count South Asian                   5040 non-null   float64
 39  Allele Number South Asian                  5040 non-null   float64
 40  Homozygote Count South Asian               5040 non-null   int64
 41  Hemizygote Count South Asian               5040 non-null   int64
 42  oe_lof_upper                               5040 non-null   float64
 43  PHRED_x                                    5 non-null      float64
 44  PHRED_y                                    0 non-null      float64
dtypes: float64(8), int64(32), object(5)
memory usage: 1.8+ MB

In [ ]:
# free up RAM
del df_cadd_snv_part1

Read part 2 of SNV CADD annotations.

In [ ]:
df_cadd_snv_part2 = pd.read_csv("/content/drive/MyDrive/MSc-project-lof/gnomad.genomes.r2.1.1.snv_cadd_part2.tsv",sep='\t',
                                header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_cadd_snv_part2.columns = ["Chromosome",	"Position",	"Reference",	"Alternate","RAW", "PHRED"	]

In [ ]:
df_cadd_snv_part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114285107 entries, 0 to 114285106
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   Chromosome  object
 1   Position    int64
 2   Reference   object
 3   Alternate   object
 4   RAW         float64
 5   PHRED       float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.1+ GB

In [ ]:
df_cadd_snv_part2.drop("RAW",axis=1,inplace=True)

In [ ]:
df_cadd_snv_part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114285107 entries, 0 to 114285106
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   Chromosome  object
 1   Position    int64
 2   Reference   object
 3   Alternate   object
 4   PHRED       float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.3+ GB

In [ ]:
dict_astype = {"Chromosome":"object","Position":"float64",}

In [ ]:
df_cadd_snv_part2 = df_cadd_snv_part2.astype(dict_astype)

Perform join between variants data and CADD annotations for SNVs part2.

In [ ]:
df_comb_el_gnomad = pd.merge(df_comb_el_gnomad,df_cadd_snv_part2,how='left',
                             left_on=['Chromosome','Position','Reference','Alternate'],
                             right_on=['Chromosome','Position','Reference','Alternate'])

CADD annotations are found for only 97 variants.

In [ ]:
df_comb_el_gnomad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 0 to 5039
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Chromosome                                 5040 non-null   object
 1   Position                                   5040 non-null   float64
 2   Reference                                  5040 non-null   object
 3   Alternate                                  5040 non-null   object
 4   VEP Annotation                             5040 non-null   object
 5   ClinVar Clinical Significance              5040 non-null   object
 6   Allele Count                               5040 non-null   float64
 7   Allele Frequency                           5040 non-null   float64
 8   Homozygote Count                           5040 non-null   int64
 9   Hemizygote Count                           5040 non-null   int64
 10  Allele Count African/African-American      5040 non-null   int64
 11  Allele Number African/African-American     5040 non-null   int64
 12  Homozygote Count African/African-American  5040 non-null   int64
 13  Hemizygote Count African/African-American  5040 non-null   int64
 14  Allele Count Latino/Admixed American       5040 non-null   int64
 15  Allele Number Latino/Admixed American      5040 non-null   int64
 16  Homozygote Count Latino/Admixed American   5040 non-null   int64
 17  Hemizygote Count Latino/Admixed American   5040 non-null   int64
 18  Allele Count Ashkenazi Jewish              5040 non-null   int64
 19  Allele Number Ashkenazi Jewish             5040 non-null   int64
 20  Homozygote Count Ashkenazi Jewish          5040 non-null   int64
 21  Hemizygote Count Ashkenazi Jewish          5040 non-null   int64
 22  Allele Count East Asian                    5040 non-null   int64
 23  Allele Number East Asian                   5040 non-null   int64
 24  Homozygote Count East Asian                5040 non-null   int64
 25  Hemizygote Count East Asian                5040 non-null   int64
 26  Allele Count European (Finnish)            5040 non-null   int64
 27  Allele Number European (Finnish)           5040 non-null   int64
 28  Homozygote Count European (Finnish)        5040 non-null   int64
 29  Hemizygote Count European (Finnish)        5040 non-null   int64
 30  Allele Count European (non-Finnish)        5040 non-null   int64
 31  Allele Number European (non-Finnish)       5040 non-null   int64
 32  Homozygote Count European (non-Finnish)    5040 non-null   int64
 33  Hemizygote Count European (non-Finnish)    5040 non-null   int64
 34  Allele Count Other                         5040 non-null   int64
 35  Allele Number Other                        5040 non-null   int64
 36  Homozygote Count Other                     5040 non-null   int64
 37  Hemizygote Count Other                     5040 non-null   int64
 38  Allele Count South Asian                   5040 non-null   float64
 39  Allele Number South Asian                  5040 non-null   float64
 40  Homozygote Count South Asian               5040 non-null   int64
 41  Hemizygote Count South Asian               5040 non-null   int64
 42  oe_lof_upper                               5040 non-null   float64
 43  PHRED_x                                    5 non-null      float64
 44  PHRED_y                                    0 non-null      float64
 45  PHRED                                      97 non-null     float64
dtypes: float64(9), int64(32), object(5)
memory usage: 1.8+ MB

Save the processed data.

In [ ]:
df_comb_el_gnomad.to_csv("df_comb_el_gnomad_before trnaform_for_train_cadd-indel_snv-p1_snv-p2.csv",index=False)